* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    position: relative;
}



.topHeader,
.topHeader ul,
.bottomHeader ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.topHeader {
    /* background-color:#f7f1f2; */
    background-color: white;
    padding: 10px 20px;
    flex-wrap: wrap;
    width: 100%;
}


.bottomHeader {
    justify-content: center;
    background-color: #CBBCB1;

}

.bottomHeader ul,
.topHeader ul {
    justify-content: center;

    list-style: none;
    /* padding: 5px 0px; */
    background: none;
}

.bottomHeader ul {
    width: 100%;
}

.bottomHeader ul li a,
.topHeader ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #AF6B58;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease;
    padding: 10px 30px;
}

.topHeader ul li a .css-i4bv87-MuiSvgIcon-root {
    font-size: 30px;

}

.topHeader ul li .first {
    padding: 6.5px 30px;
}

.topHeader ul li a:hover {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #e7ded7;
}

.bottomHeader ul li a {
    padding: 0px 20px;
    transition: all 0.9s ease;
    color: #200c06;
}

.bottomHeader ul li a:hover {
    background-color: #906357;
    /* color: white; */
}




.topHeader .searchButton input {
    padding: 2px 10px;
    width: 200px;
    height: 30px;
    font-size: 17px;
    border: none;
    color: #824e3f;
    background-color: #ede7e2;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.topHeader .searchButton button {
    padding: 2px 10px;
    width: 80px;
    font-size: 17px;
    background-color: #AF6B58;
    height: 30px;
    color: white;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.admin {
    position: absolute;
    text-align: center;
    z-index: 3;
    top: 100px;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    width: 10%;
    transition: all 0.9s ease;
    background-color: white;

}

@media all and (max-width:750px) {
    .topHeader h1 {
        width: 100%;
        display: flex;
        font-size: 45px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .topHeader form {
        width: 100%;
    }

    .topHeader ul {
        width: 30%;
    }

}

@media all and (max-width:600px) {

    .topHeader ul,
    .topHeader form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .topHeader .searchButton input {
        width: 180px;
        font-size: 16px;
        height: 24px;
    }

    .topHeader .searchButton button {
        width: 80px;
        height: 24px;
        padding-right: 2px;
        font-size: 16px;
    }

    .topHeader form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottomHeader ul {
        flex-direction: column;
        align-items: 40%;
    }



}