*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.searchBooks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    
}
.bookLink{
    width: 14%;
    height:350px;
    margin: 40px;
    text-decoration: none;
    color: black;
}
.searchBook{
    width: 100%;
    position: relative;
    height: 100%;
    /* background-color: gray; */
    border-radius: 20px;
    
    text-align: center;
}
.searchBook img{
    width: 100%;
    height: 70%;
    box-shadow: 0px 0px 1rem 0.4rem lightgray;
    
}
.searchBook h1{
    font-size: 19px;
    text-align: center;
    height: 12%;
    margin-bottom: 10px;
}
.searchBook h3{
    font-size: 15px;
}
.searchBook p{
    color: red;
    margin: 10px 0px;
}
